.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

header{
  margin: 60px;
}

header > p{
  margin-top: 16px;
}


.main-details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.infected{
  background-color: rgba(102,179,255,.5);
}

.recovered{
  background-color: rgba(191,242,202,.5);
}

.death{
  background-color: rgba(237,178,178,.5)!important;
}

.active{
  background-color: rgba(237,199,152,.5);
}

.main-box{
  padding: 30px;
  margin: 0 20px 30px 20px;
  text-align: left;
}

.main-box-value{
  font-size: 24px;
  margin: 20px 0;
}

.main-box span{
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  margin: 5px 0;
  display: inline-block;
}

.main-box p{
  
}

.main-box-desc{
  
}